<div *ngIf="letovi.length > 0" class="karta-detalji">
  <h2>Karta detalji</h2>
  <p>Od: {{ letovi[0].od }}</p>
  <p>Do: {{ letovi[0].destinacija }}</p>
  <p>Vreme: {{ letovi[0].vreme }}</p>

  <label for="brojPutnika">Odaberite broj putnika:</label>
  <input type="number" id="brojPutnika" [(ngModel)]="brojputnika" required>

  <!-- Dodajte ovo unutar vašeg form elementa -->
  <div class="checkbox-wrapper">
    <label for="prtljag">Želim prtljag</label>
    <input type="checkbox" id="prtljag" [(ngModel)]="zeljeniPrtljag">
  </div>

  <p class="ukupna-cena">Ukupna cena: {{ ukupnaCena() }} <b>RSD</b></p>

  <button (click)="zavrsiKupovinuKarte()">Kupi kartu</button>
</div>