<button class="logout" (click)="logout()">Logout</button>
<table *ngIf="letovi">
  <thead>
      <tr>
          <th>Polazak iz</th>
          <th>Destinacija</th>
          <th>Vreme</th>
          <th>Broj putnika</th>
          <th>Cena</th>
          <th>Odaberi</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let letov of letovi">
          <td>{{letov.od}}</td>
          <td>{{letov.destinacija}}</td>
          <td>{{letov.vreme}}</td>
          <td>{{letov.brojputnika}}</td>
          <td>{{letov.cena}} <b>RSD</b></td>
          <td>
              <button (click)="azurirajLet(letov)">Ažuriraj</button>
              <button (click)="obrisiLet(letov.id)">Obriši</button>
          </td>
      </tr>
  </tbody>
</table>
<div *ngIf="!letovi">
  <p>Loading...</p>
</div>

<form [formGroup]="letForm">
  <div class="forma">


      <label for="marka">Polazak iz</label>
      <input type="text" formControlName="od" id="od" name="od" required>
      <div class="validacija" *ngIf="letForm.get('od')?.hasError('required') && letForm.get('od')?.touched">
          Polazak iz je obavezno polje.
      </div>


      <label for="destinacija">Destinacija</label>
      <input type="text" formControlName="destinacija" id="destinacija" name="destinacija" required>
      <div class="validacija" *ngIf="letForm.get('destinacija')?.hasError('required') && letForm.get('destinacija')?.touched">
          Destinacija je obavezno polje.
      </div>

      <label for="vreme">Vreme</label>
      <input type="text" formControlName="vreme" id="vreme" name="vreme" required>
      <div class="validacija" *ngIf="letForm.get('vreme')?.hasError('required') && letForm.get('vreme')?.touched">
          Vreme je obavezno polje.
      </div>


      <label for="brojputnika">Broj putnika</label>
      <input type="number" formControlName="brojputnika" id="brojputnika" name="brojputnika" required>
      <div class="validacija"
          *ngIf="letForm.controls['brojputnika']?.hasError('required') && letForm.controls['brojputnika']?.touched">
          Broj putnika je obavezno polje.
      </div>
      <div class="validacija"
          *ngIf="letForm && letForm.controls['brojputnika']?.hasError('min') && letForm.controls['brojputnika']?.touched">
          Broj putnika ne sme biti manja od 0.
      </div>
      <div class="validacija"
          *ngIf="letForm && letForm.controls['brojputnika'] && letForm.controls['brojputnika']?.hasError('pattern') && letForm.controls['brojputnika']?.touched">
          Unesite validnu numeričku vrednost.
      </div>

      <label for="cena">Cena</label>
      <input type="number" formControlName="cena" id="cena" name="cena" required>
      <div class="validacija"
          *ngIf="letForm.controls['cena']?.hasError('required') && letForm.controls['cena']?.touched">
          Cena je obavezno polje.
      </div>
      <div class="validacija"
          *ngIf="letForm && letForm.controls['cena']?.hasError('min') && letForm.controls['cena']?.touched">
          Cena ne sme biti manja od 0.
      </div>
      <div class="validacija"
          *ngIf="letForm && letForm.controls['cena'] && letForm.controls['cena']?.hasError('pattern') && letForm.controls['cena']?.touched">
          Unesite validnu numeričku vrednost.
      </div>
      <div class="button-container">
          <button type="button" class="btndodaj" (click)="dodajLet()" [disabled]="letForm.invalid">Dodaj
              let</button>

          <button type="button" class="btnazuriraj" (click)="sacuvajAzuriranje()"
              [disabled]="letForm.invalid">Sačuvaj ažuriranje</button>
      </div>
      <div *ngIf="showErrorMessage" class="error-message">
          Popunite sve podatke.
      </div>
  </div>
</form>